@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@layer base {
  h2 {
    @apply text-3xl font-semibold text-gray-800 dark:text-gray-100;
  }
  h3 {
    @apply text-xl font-semibold text-gray-800 dark:text-gray-100 mb-2;
  }
  p {
    @apply text-gray-600 dark:text-gray-100 text-sm;
  }
  label {
    @apply block text-sm text-gray-700 dark:text-gray-300 mb-1 ml-1;
  }
 }

@layer components {
  .bg-color {
    @apply bg-gray-200 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans;
  }
  .card {
    @apply bg-white dark:bg-gray-600 rounded-lg shadow-md hover:shadow-lg transition-shadow overflow-hidden;
  }
}
