#root {
  font-family: Poppins, 'sans-serif';
  padding-inline: 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode {
  background: black;
  color: white;
}
