.container {
  background-color: #ddd;
  padding: 1rem;
}
.cardsContainer {
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.productCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.productCard img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-height: 150px;
}
.productCard h1 {
  font-size: 1rem;
  font-weight: 500;
}
.productCard p {
  margin-block: 5px;
}
