.context-menu {
  background-color: white;
  width: 4rem;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.context-menu div {
  padding: 3px 0px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
}

.context-menu div:hover {
  background-color: #ddd;
}
