.form-data {
  margin-top: 0.5rem;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  width: fit-content;
  table-layout: fixed;
}
table select {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: inherit;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 0.8rem;
}
thead tr > th:nth-child(3) {
  width: 40%;
}
.amount {
  display: flex;
  align-items: end;
}
.sort-popup {
  position: absolute;
  z-index: 999;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 6px #0000001a;
  background-color: #fff;
  cursor: pointer;
}
.sort-popup * {
  padding: 4px;
  text-align: center;
  font-size: 0.8rem;
}
.sort-popup *:hover {
  background-color: #ddd;
}
i {
  margin-right: 5px;
}
.sort-desc {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  thead tr > th:nth-child(3) {
    width: 100%;
  }
  .sort-asc,
  .sort-desc {
    position: relative;
  }
  .sort-asc i,
  .sort-desc i {
    width: fit-content;
    position: absolute;
    left: 0;
  }
  .sort-asc span,
  .sort-desc span {
    margin-left: 15px;
  }
}
@media (max-width: 400px) {
  thead tr > th:nth-child(3) {
    width: 150%;
  }
}
